@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-fontsmoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: oklch(1 0 0);
  --foreground: oklch(0.1884 0.0128 248.5103);
  --card: oklch(0.9806 0.0021 197.1221);
  --card-foreground: oklch(0.1884 0.0128 248.5103);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1884 0.0128 248.5103);
  --primary: oklch(0.6671 0.1615 245.54);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9614 0.0045 214.3285);
  --secondary-foreground: oklch(0.1884 0.0128 248.5103);
  --muted: oklch(0.8853 0 0);
  --muted-foreground: oklch(0.4939 0.0294 241.156);
  --accent: oklch(0.9806 0.0021 197.1221);
  --accent-foreground: oklch(0.1884 0.0128 248.5103);
  --destructive: oklch(0.6188 0.2376 25.7658);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9614 0.0045 214.3285);
  --input: oklch(0.9614 0.0045 214.3285);
  --ring: oklch(0.6671 0.1615 245.54);
  --chart-1: oklch(0.6671 0.1615 245.54);
  --chart-2: oklch(0.6185 0.1481 245.1416);
  --chart-3: oklch(0.5626 0.1384 246.6768);
  --chart-4: oklch(0.507 0.1264 247.5763);
  --chart-5: oklch(0.4506 0.1154 249.1343);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.1884 0.0128 248.5103);
  --sidebar-primary: oklch(0.6671 0.1615 245.54);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9614 0.0045 214.3285);
  --sidebar-accent-foreground: oklch(0.1884 0.0128 248.5103);
  --sidebar-border: oklch(0.9614 0.0045 214.3285);
  --sidebar-ring: oklch(0.6671 0.1615 245.54);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: JetBrains Mono, ui-monospace, monospace;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 8px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 8px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 8px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 8px -2px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2076 0.0092 255.6182);
  --foreground: oklch(0.9328 0.0025 228.7857);
  --card: oklch(0.2547 0.0087 255.5868);
  --card-foreground: oklch(0.9328 0.0025 228.7857);
  --popover: oklch(0.2076 0.0092 255.6182);
  --popover-foreground: oklch(0.9328 0.0025 228.7857);
  --primary: oklch(0.6671 0.1615 245.54);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3279 0.0224 248.5106);
  --secondary-foreground: oklch(0.9328 0.0025 228.7857);
  --muted: oklch(0.3279 0.0224 248.5106);
  --muted-foreground: oklch(0.6736 0.0244 248.1893);
  --accent: oklch(0.3279 0.0224 248.5106);
  --accent-foreground: oklch(0.9328 0.0025 228.7857);
  --destructive: oklch(0.6188 0.2376 25.7658);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3795 0.022 240.5943);
  --input: oklch(0.3279 0.0224 248.5106);
  --ring: oklch(0.6671 0.1615 245.54);
  --chart-1: oklch(0.6671 0.1615 245.54);
  --chart-2: oklch(0.6185 0.1481 245.1416);
  --chart-3: oklch(0.5626 0.1384 246.6768);
  --chart-4: oklch(0.507 0.1264 247.5763);
  --chart-5: oklch(0.4506 0.1154 249.1343);
  --sidebar: oklch(0.2459 0.0072 248.1224);
  --sidebar-foreground: oklch(0.9328 0.0025 228.7857);
  --sidebar-primary: oklch(0.6671 0.1615 245.54);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3279 0.0224 248.5106);
  --sidebar-accent-foreground: oklch(0.9328 0.0025 228.7857);
  --sidebar-border: oklch(0.3795 0.022 240.5943);
  --sidebar-ring: oklch(0.6671 0.1615 245.54);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: JetBrains Mono, ui-monospace, monospace;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.1);
  --shadow-sm:
    0px 2px 8px -2px hsl(0 0% 0% / 0.2), 0px 1px 2px -3px hsl(0 0% 0% / 0.2);
  --shadow:
    0px 2px 8px -2px hsl(0 0% 0% / 0.2), 0px 1px 2px -3px hsl(0 0% 0% / 0.2);
  --shadow-md:
    0px 2px 8px -2px hsl(0 0% 0% / 0.2), 0px 2px 4px -3px hsl(0 0% 0% / 0.2);
  --shadow-lg:
    0px 2px 8px -2px hsl(0 0% 0% / 0.2), 0px 4px 6px -3px hsl(0 0% 0% / 0.2);
  --shadow-xl:
    0px 2px 8px -2px hsl(0 0% 0% / 0.2), 0px 8px 10px -3px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 2px 8px -2px hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@keyframes slide-up-fade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up-fade {
  animation: slide-up-fade 0.9s ease-in-out forwards;
}

section {
  scroll-margin: 100px;
}
